{% extends "layout.html" %}

{% block title %}
    SignUp
{% endblock  %}


{% block content  %}
        <div class="form-wrapper">
            <h2>Signup</h2>
            <form id="signup-form" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <div class="input-wrapper">
                        <span class="icon">👤</span>
                        <input type="text" id="username" name='fnm' placeholder="Choose a username" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <div class="input-wrapper">
                        <span class="icon">📧</span>
                        <input type="email" id="email" name='emailid' placeholder="Enter your email" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="input-wrapper">
                        <span class="icon">🔒</span>
                        <input type="password" id="password" name='pwd' placeholder="Create a password" required>
                        <button type="button" class="toggle-password">👁️</button>
                    </div>
                </div>

                <button type="submit" class="btn">Signup</button>
            </form>

            <br><br>
            Already a member ? <a href="{% url "users:login" %}"> Login</a>
        </div>
{% endblock  %}