{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script defer src="{% static "js/main.js" %}"> </script>
    <script defer src="{% static "js/script.js" %}"> </script>

    
    <title>
        {% block title %}
            Expense app
        {% endblock  %} 
    </title>
</head>
<body>


    <!-- Header -->
     <header>
        <nav class="main-navbar">
            <div class="logo">ExpenseTracker</div>
            <ul class="nav-links">
                    <li><a href="#about">About</a></li>
                    <li><a href="#blog">Blog</a></li>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'users:logout' %}"> Logout</a>
                        </li>
                    {% else %}
                        <li><a href="{% url "users:login" %}">Login</a></li>
                        <li><a href="{% url "users:signup" %}">register</a></li>
                    {% endif %} 
            </ul>
        </nav>
    </header>
    
    <!-- content -->
     <main>
        <div class="container">
        {% block content %}


        {% endblock  %}
        
        </div>
    </main>


    <!-- Footer -->
    <footer class="footer">
        <div class="footer-links">
            <ul>    
                <li><a href="#about">About</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#privacy">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="socials">
            <a href="https://youtube.com" target="_blank">YouTube</a>
            <a href="https://tiktok.com" target="_blank">TikTok</a>
            <a href="https://instagram.com" target="_blank">Instagram</a>
        </div>
        <p>&copy; 2024 ExpenseTracker. All rights reserved.</p>
    </footer>


</body>

<script src="{% static "js/main.js" %}" defer></script>
</html>